{% extends "network/layout.html" %}

{% block body %}

  <h2> {{ profile.username }}'s posts</h2>

  <!-- Add follow user button -->
  <form action="{% url 'follow' profile.id %}" method="post">
    {% csrf_token %}
    <!-- If user is not following target user -->
    {% if following_check == False %}
      <input type="submit" value="Follow" class="btn btn-outline-primary" />
    {% endif %}
    <!-- If user is already following target user -->
    {% if following_check == True %}
      <input type="submit" value="Unfollow" class="btn btn-outline-primary" />
    {% endif %}
  </form>

  <!-- Display this user's submitted posts -->
  {% for post in posts %}
    <div class="border" style="margin: 10px; padding: 10px;">
      <p>User:  <b> {{ post.user }} </b></p>
      <p> {{ post.content }} </p>
      <sub> {{ post.created_at }}</sub>
    </div>
  {% endfor %}


{% endblock %}
