{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
      {% for listing in listings %}
        <div>
          <h3> <a href="{% url 'listing' listing.id%}"> {{listing.id}}: {{ listing.name }} </a> </h3>
          <p> <b>Price:</b> ${{ listing.price }} </p>
          <p> <b>Description:</b> {{ listing.description }} </p>
          <img src="{{ listing.image}}" width="500px">
          <br />
          <sub> Created at: {{ listing.created_at }} </sub>
          </div>
          <hr style="width:50%"/>
      {% endfor %}
    </ul>



{% endblock %}
