{% extends "auctions/layout.html" %}

{% block body %}
<!-- Listing details -->
<h2> {{listing.id}}: {{ listing.name }} </h2>
<p> <b>Starting price:</b> ${{ listing.price }} </p>
<p> <b>Description:</b> {{ listing.description }} </p>
<img src="{{ listing.image}}" width="500px">
<br />
<sub> Created at: {{ listing.created_at }} </sub>
<br />
<hr width=50%/>

<!-- Add to watchlist -->
{% if status == True %}
  <form action="{% url 'watchlist' listing.id %}" method="post">
    {% csrf_token %}
    <!-- If listing already added to user's watchlist -->
    {% if watchlist_check == True %}
      <input type="submit" value="Remove from watchlist" class="btn btn-outline-primary">
    {% endif %}
    <!-- If listing doesn't exist in user's watchlist -->
    {% if watchlist_check == False %}
      <input type="submit" value="Add to watchlist" class="btn btn-outline-primary">
    {% endif %}
  </form>
  <hr width=50%/>
{% endif %}

<!-- Current price / highest bid -->
{% if user == highestBidder %}
<h2><b> You are the highest bidder! </b></h2>
{% endif %}
<p><b> Current price / highest bid:</b> ${{currentPrice}} </p>
<sub> {{bidCount}} bid(s) so far.</sub>
{% if highestBidder %}
  <sub> {{highestBidder}} has the highest bidder. </sub>
{% endif %}
{% if status == True %}
<form action="{% url 'placebid' listing.id %}" method="POST">
  {% csrf_token %}
  {{ bidForm.label }}
  {{ bidForm }}
  <input type="submit" />
</form>
<hr width=50%/>
{%endif%}

<!-- Comments -->
<p><b> User comments: </b></p>
<form action="{% url 'comments' listing.id %}" method="post">
  {% csrf_token %}
  {{ commentForm.label }}
  {{ commentForm }}
  <input type="submit" />
</form>
<ul>
  {% for comment in comments %}
    <p> {{ comment.user }} commented: {{ comment.comment }} </p>
  {% endfor %}
</ul>
<hr width=50%/>

<!-- Close auction -->
{% if user == listingCreator %}
<p><b> Administrative: </b></p>
<form action="{% url 'closeAuction' listing.id %}" method="post">
  {% csrf_token %}
  {% if status == True %}
    <input type="submit" value="Close auction" class="btn btn-outline-warning">
  {% endif %}
</form>

{% endif %}

{% endblock %}
